.section3{
  background: url("../img/otziv1.jpg") no-repeat left;
  background-size: cover;
  height: 610px;
}
.section2__title{
  padding-top:5rem;
  padding-bottom:5rem;
  font-weight: 700;
  font-size: 2.4rem;
}
.section3-wrapper{
  padding-bottom: 4.5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items:center;
}
.name-user{
  font-size: 1.3rem;
  color:#5370a5;
  font-weight: 700;
}
.comment-container{
  font-size: 1.3rem;
}
.bcg_coment-container{
  position: relative;
  width:440px;
  padding-top:1rem;
  border-radius: 20px;
  padding-left:1.5rem;
  padding-bottom: .1rem;
  margin-left:1.5rem;
  background-color: #eef0f2;
}
.bcg_coment-container:nth-child(2){
  margin-left:4rem;
}
.links-post{
  padding-top:.5rem;
  padding-bottom:2rem;
  padding-left:3rem;
  a{
    color:#848484;
    opacity: .4;
  }
  span{
    color:#7f7f7f;
  }
}
.like-block{
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  right:-30px;
  top:12px;
  position: absolute;
  width:40px;
  border-radius: 10px;
  background-color: #fff;
  align-items:center;
  display: flex;
    span{
      padding-left:1.3rem;
      display: block;
    }
}
.circle{
  left:.2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4480fb;
  width:15px;
  height:15px;
}
.fas{
  font-size: 0.8rem;
  color:#fff;
}
.inserted-post{
  padding-left:7rem;
}
.emoji{
  right:15px;
  top:30px;
  position: relative;
  width:20px;
  height: 20px;
}


